#title{
    display: flex;
    justify-content: center
}

#rock{
    display: flex;
    justify-content: center
    
}

#paper{
    display: flex;
    justify-content: center
}

#scissors{
    display: flex;
    justify-content: center;
    
    
}
.modal{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 10   0%;
    height: 100%;
    overflow: auto;
    background-color: white;
    background-color: grey;

}

.modal-content{
    background-color:white;
    margin: 5% auto;
    padding: 10%;
    border: 1px solid #888888;
    width: 20%;

}

.close{
    color: grey;
    float: right;
    font-size: 28px;
    font-weight: bold;

}

.close:hover, 
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;

}

